.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header_menu {
  margin-left: 28px;
}

.header_menu_list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
  padding-top: 4px;
}

.menu_item_non {
  list-style: none;
}

.menu_item {
font: Raleway, Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 100%;
}

.header_logo {
  display: flex;
  width: 148px;
  height: 105px;
  margin-left: 30px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.01em;
  justify-content: flex-end;
}

.header_address {
  display: inline-block;
  padding-left: 200px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 1100px;
  min-height: 757px;
}

.overlay {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.text_part {
  color: #FFF;
  z-index: 1;
  font-size: 100px;
  font-style: bold;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: grid;
  padding: 168px 50px 0;
  gap: 25px;
}

.cover_text {
  display: block;
}

.cover_text_middle {
  text-align: center;
  margin-right: -30px;
}

.cover_text_down {
  text-align: end;
  margin-right: -30px;
}

.udercover_description {
  color: #FFF;
  z-index: 1;
  padding: 0 50px 50px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  gap: 107px;
}

.udercover_description_text {
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.description_button {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFF;
  font-family: Raleway, sans-serif;
  border: 2px solid #fff;
  cursor: pointer;
  min-width: 257px;
  min-height: 52px;
  background:none;
}

.lots {
  margin: 176px 25px 108px 23px;
}

.lots_header {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
}

.lots_card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  list-style: none;
  margin: 28px 0;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 596px;
  width: 334px;
  padding: 50px 40px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  row-gap: 30px;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  z-index: 1;
  color: #fff;
  font-size: 22px;
  line-height: 115%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
}

.underlots_link {
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.about_auction {
  margin: 0 24px 180px;
  display: grid;
  grid-template-columns: 335px 1fr;
  justify-items: center;
  padding-top: 2px;
}

.about_picture {
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
}

.about_image {
  width: 148px;
  height: 114px;
  margin: 63px 46px;
}

.about_block {
  padding-left: 25px;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 100px 0;
}

.paragraphs {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.01px;
}

.footer {
  display: flex;
  margin: 0 50px 90px;
  justify-content: space-between;
}

.footer_links-list {
  list-style: none;
  text-align: center;
}

.footer_link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.footer_link_active {
  border-bottom: none;
}

.footer_navigation {
  margin-left: 34px;
}

.footer_social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer_social-list-item {
  width: 48px;
}