/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header_menu {
  margin-left: 28px;
}

.header_menu_list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
  padding-top: 4px;
}

.menu_item_non {
  list-style: none;
}

.header_picture {
  max-width: 148px;
  max-height: 105px;
  display: flex;
  margin-left: 38px;
}

cover {
    background-color:blueviolet;
}

description{
    background-color: aqua;
}

button {
    background-color: yellow;
}

lots {
    background-color: aqua;
}

about_auction {
    background-color: burlywood;
}

card_logo {

}

text_block {

}

paragraphs {
  background-color: grey;
}

footer {
    background-color: darkcyan;
}
